@font-face{
	font-family: 'Spartan';
	src:url(fonts/Spartan-VariableFont_wght.ttf);
}

:root {
	/*Primary*/
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /*Secundary*/
  --gray-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

