@font-face{
	font-family: 'Spartan';
	src:url(fonts/Spartan-VariableFont_wght.ttf);
}

:root {
	/*Primary*/
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /*Secundary*/
  --gray-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 15px;
}

body{
	height: 100vh;
	background-color: var(--white);
	overflow: hidden;
}

img[alt="bkTop"]{
	position: relative;
	left: -5%
}

img[alt="bkBottom"]{
	position: relative;
	right: -18%;
	bottom: 36%;
}

img[alt="mbTop"], img[alt="mbBottom"]{
	display: none;
}

main{
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

main .container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 45% 55%;
	width: 875px;
	height: 474px;
}

/*
.container .text, .stars, .coments{
	border: 1px solid black;
}

*/



.container .text h1{
	width: 341px;
	font-family: 'Spartan';
	font-weight: 700;
	text-align: left;
	font-size: 40px;
	color: var(--dark-magenta);
	line-height: 40px;
}

.container .text p{
	width: 370px;
	font-family: 'Spartan';
	font-weight: 500;
	margin-top: 3%;
	color: var(--gray-magenta);
	line-height: 20px;
	font-size: 12px;
}

.container .stars{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start; 
}

.stars .star{
	display: flex;
	margin: 10px 0px;
	width: 350px;
	height: 42px;
	padding: 2px 20px;
	border-radius: 5px;
	flex-flow: row wrap;
	align-items: center;
	background-color: var(--light-magenta);
}

.stars .star .rate{
	margin-right: 25px;
}

.stars .star .rate img{
	height: 12px;
}

.stars .star p{
	padding-top: 3px;
	margin-left: 10px;
	font-size: 12px;
	font-family: 'Spartan';
	font-weight: 700;
	color: var(--dark-magenta);
	line-height:12px;
}

.stars div:nth-child(1){
	position: relative;
	left: 20px;
}

.stars div:nth-child(2){
	position: relative;
	left: 40px;
}

.stars div:nth-child(3){
	position: relative;
	left: 80px;
}

.container .coments{
	grid-column: 1/3;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px; 
}

.coments .coment{
	width: 274px;
	height: 184px;
	padding: 45px 24px 36px 24px;
	background-color: var(--dark-magenta);
	border-radius: 5px;
}

.coment .profile{
	/*border: 1px solid black;*/
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.profile  img{
	border-radius: 50%;
	width: 30px;
	height: 30%;
}

.profile .photoText{
	margin-left: 17px;
}

.profile .photoText p{
	font-size: 11px;
	font-family: 'Spartan';
	font-weight: 700;
	margin: 2px 0px;
	color: var(--white);
}

.profile .photoText p:nth-child(2){
	font-weight: 400;
	color: var(--soft-pink);
}

.coment .comText{
	font-family: 'Spartan';
	font-weight: 400;
	color: white;
	margin-top: 10px;
}

.coment .comText p{
	font-size: 10px;
	line-height: 15px;
}

.coments div:nth-child(1){
	position: relative;
	top: -15px;
}

.coments div:nth-child(3){
	position: relative;
	bottom: -15px;
}

@media (max-width: 375px){
	
	img[alt="bkTop"], img[alt="bkBottom"]{
		display: none;
	}

	img[alt="mbTop"], img[alt="mbBottom"]{
		display: block;
		position: absolute;
	}

	img[alt="mbBottom"]{
		bottom: 0px;
		right: 0px;
	}


	main{
		overflow: scroll;
		align-items: flex-start;
	}

	main .container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		width: 90%;
		margin-top: 100px;
	}

	.container .text, .stars, .coments{
		grid-column: 1/1;
	}

	.container .text h1{
		width: 100%;
		padding: 0px 30px;
		text-align: center;
		font-size: 30px;
		line-height: 35px;
	}

	.container .text p{
		width: 100%;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 25px;
	}

	.container .stars{
		align-items: center; 
	}

	.stars .star{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 70px;
	}

	.stars .star .rate{
		display: block;
		margin: 0px auto;
	}

	.stars .star .rate img{
		height: 15px;
		margin: 0px 2px;
	}

	.stars .star p{
		font-size: 13px;
		display: block;
		margin: 10px auto;
	}

	.stars div:nth-child(1), .stars div:nth-child(2), .stars div:nth-child(3){
		position: relative;
		left: 0%;
	}

	.container .coments{
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 70px; 
	}

	.coments .coment{
		width: 100%;
		height: 250px;
		padding: 45px  35px;
	}

	.coment .profile{
		/*border: 1px solid black;*/
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	.profile  img{
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}

	.profile .photoText{
		margin-left: 17px;
	}

	.profile .photoText p{
		font-size: 12px;
		font-family: 'Spartan';
		font-weight: 700;
		margin: 2px 0px;
		color: var(--white);
	}

	.profile .photoText p:nth-child(2){
		font-weight: 400;
		color: var(--soft-pink);
	}

	.coment .comText{
		font-family: 'Spartan';
		font-weight: 400;
		color: white;
		margin-top: 10px;
	}

	.coment .comText p{
		font-size: 13px;
		line-height: 25px;
	}

	.coments div:nth-child(1){
		position: relative;
		top: -15px;
	}

	.coments div:nth-child(3){
		position: relative;
		bottom: -15px;
	}	
}